@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&family=Road+Rage&display=swap");

/* set default */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  font-family: "EB Garamond", cursive;
}
a {
  text-decoration: none;
  color: #2b2b2b;
}
li {
  list-style: none;
}

/* header-menu-start */

.header-menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem;
  background: rgba(53, 53, 53, 0.212);
  box-shadow: 1px 2px 3px #5c5c5c;
}
.header-menu li {
  margin: 0.5rem 2rem;
  font-family: "Road Rage", cursive !important;
  font-size: 30px;
  letter-spacing: 1px;
  text-shadow: 1px 2px 3px #5c5c5c;
  transition: all 0.5s ease;
}
.header-menu li:hover {
  text-shadow: 1px 2px 3px #ff000083;
}
.header-menu li::first-letter {
  color: red;
  letter-spacing: 2px;
}

/* header-menu-end */

/* main-start*/
.main-text-box {
  border: 1px solid black;
  border-radius: 15px;
  margin: 3rem 2rem;
  padding: 3rem 1.5rem;
  letter-spacing: 1px;
}
.main-text-box p {
  font-size: 16px;
  margin-top: 1rem;
}

.main-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}
.card {
  text-align: center;
  background: #5c5c5c88;
  padding: 1.5rem;
  margin: 1.5rem 0.3rem;
  border-radius: 15px;
}
.card:hover {
  box-shadow: 0 0 5px 1px #5c5c5c88;
}
.card-img {
  width: 150px;
  height: 150px;
  border-radius: 50px;
}
.card-text {
  font-size: 20px;
  font-weight: 600;
  margin: 1rem 0;
}
.card-btn {
  padding: 0.5rem 1rem;
  background-color: rgba(255, 27, 27, 0.603);
  margin: 1rem;
  border-radius: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 0 0 5px 1px rgba(255, 27, 27, 0.603);
  transition: all 0.4s ease;
}
.card-btn:hover {
  background-color: rgba(255, 0, 0, 0.699);
}
/* main-end*/

/* main-rules-start */

#main-text-box-rules {
  display: flex;
  align-items: center;
}
#main-text-box-rules h2 {
  border-right: 1px solid black;
  padding: 3rem 1rem 3rem 0;
  margin: 1rem;
}
.text-box-rules ol li {
  list-style: inherit !important;
  margin-left: 10px;
}

@media only screen and (max-width: 600px) {
  #main-text-box-rules {
    flex-direction: column;
  }
  #main-text-box-rules h2 {
    border: none;
    border-bottom: 1px solid black;
    padding: 0 4rem;
    margin: 0 0 1rem;
  }
}

/* main-rules-end */

/* main-SectionPage-start */
.Section-table {
  display: flex;
  justify-content: center;
  margin: 2rem 0 4rem;
}
table {
  border-collapse: collapse;
  width: 35rem;
  margin: 0 1rem;
}
thead,
tbody {
  overflow-x: scroll;
}
.table-head tr th,
.table-body tr td {
  border: 1px solid rgb(63, 63, 63);
  text-align: center;
  transition: all 0.4s ease;
}
.table-head tr th {
  background: #2dffff96;
}
.table-body tr td:hover {
  background: #2d4cff96;
}
/* main-SectionPage-end */

/* footer-start */
footer {
  text-align: center;
  padding: 10px 0;
  font-weight: 600;
  background: #5c5c5c96;
  letter-spacing: 1px;
}
footer p span a {
  font-weight: 700;
  color: rgba(161, 0, 0, 0.733);
  transition: all 0.4s ease;
}
footer p span a:hover {
  text-shadow: 1px 2px 3px #ff000083;
  font-size: 16.5px;
}
/* footer-end */
