@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&family=Road+Rage&display=swap");
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #2b2b2b;
}
li {
  list-style: none;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
}

/* header-menu-start */

.header-menu {
  display: flex;
  justify-content: center;
  padding: 1rem;
  background: rgba(53, 53, 53, 0.212);
  box-shadow: 1px 2px 3px #5c5c5c;
}
.header-menu li {
  margin: 0.5rem 2rem;
  font-family: "Road Rage", cursive;
  font-size: 30px;
  letter-spacing: 1px;
  text-shadow: 1px 2px 3px #5c5c5c;
  transition: all 0.5s ease;
}
.header-menu li:hover {
  text-shadow: 1px 2px 3px #ff000083;
}
.header-menu li::first-letter {
  color: red;
  letter-spacing: 2px;
}

/* header-menu-end */
